<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="flightresv.Properties.Settings.flight4321ConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=flight4321;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="flightresv.Properties.Settings.flightConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=flight;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>